/Qwen2.5-Coder-7B-Instruct-AWQ
# env & secrets
.env
*.env

# python cache
__pycache__/
*.pyc

# logs
logs/

#knowledge_base
knowledge_base/

#docs
docs/opencv-5.x

#back/search_engineer
back/storage_text/task_state.json

#.conda
.conda/